.card-group{
    flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  width: 200rem;
  
  
}
.card{
  background-color: transparent;
  color:white;
}

.navbar {
  font-family: 'Star Wars', sans-serif;
  font: red;
    
}

h1{
  font-family: 'Star Wars', sans-serif;
  font-size: x-large;
  color: red;
}